
body {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    background: url(imagenes/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	min-width: 1200px;
}

h1{
	font-size: 20px;
	color:white;
}

h2{
	font-size: 15px;
	color:white;
}

#barra_superior{
  background: red; 
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1)); 
  background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); 
  background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); 
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); 
  width: 100%;
  height: 100px;
  border-radius: 10px;
}

#foto{
	float:left;
	height: 130px;
	width: 130px;
	margin-top: -80px;
	margin-right: 100px;
	margin-left: 70px;
	border-radius:5px;
	border: solid black 2px;
}

#texto_header{
	float:left;
	color: white;
	width: 300px;
	margin-top: -80px;
}

#contactos{
	float:left;
	color: white;
	width: 300px;
	margin-left: 300px;
	margin-top: -80px;
}

#fb{
	float:left;
	color: white;
	width: 300px;
	margin-left: 600px;
	margin-top: -90px;
	width: 70px;
	height: 70px;
	border-radius: 100px;
	background-color: white;
}
#fb:hover{
	background-color: black;
}
#tw{
	float:left;
	color: white;
	width: 300px;
	margin-left: 650px;
	margin-top: -90px;
	width: 70px;
	height: 70px;
	border-radius: 100px;
	background-color: white;
}
#tw:hover{
	background-color: black;
}

#primer_contenedor{
	width: 500px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius:10px;
	/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    padding: 10px;
}


#navegacion{
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}
#menu{
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -90px;
	margin-top: -5px;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btnr {
	opacity: 0.7;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btnr:hover{
	opacity: 1;
}


.btn:hover {
    background-color: blue;
}
